@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Sans Font Family Classes */
@layer utilities {
  .font-sans {
    font-family: GoogleSans-Regular;
  }
  .font-normal {
    font-family: GoogleSans-Regular;
  }
  .font-medium {
    font-family: GoogleSans-Medium;
  }
  .font-semibold {
    font-family: GoogleSans-Medium;
  }
  .font-bold {
    font-family: GoogleSans-Bold;
  }
}
